* text=auto
*.java text
*.xml text
*.htm text
*.html text
*.txt text
*.svg text
*.bat text
*.md text
*.mf text
*.jsp text
*.xsd text
*.css text
*.js text
*.csv text
*.xls binary
*.zip binary
*.svgz binary
*.so binary
*.jar binary
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.apk binary
*.pdf binary
*.xlsx binary