* text=auto
*.java text
*.xml text
*.htm text
*.html text
*.txt text
*.svg text
*.bat text
*.md text
*.xlsx text
*.mf text
*.jsp text
*.jar binary
*.jpg binary
*.png binary
*.gif binary
*.apk binary
*.pdf binary