* text=auto
*.java text
*.project text
*.classpath text
*.properties text
*.prefs text
*.pom text
*.py text
*.xml text
*.htm text
*.html text
*.txt text
*.log text
*.svg text
*.bat text
*.sh text
*.readme text
*.md text
*.mf text
*.jsp text
*.xsd text
*.css text
*.js text
*.ep text
*.csv text
*.cfg text
*.component text
*.gradle text
*.jsdtscope text
*.zip binary
*.sap binary
*.sapelli binary
*.excites binary
*.jar binary
*.apk binary
*.aar binary
*.apklib binary
*.war binary
*.dll binary
*.so binary
*.svgz binary
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.ico binary
*.pdf binary
*.zargo binary
*.doc binary
*.docx binary
*.xls binary
*.xlsx binary