/* General */
.box-with-padding {
    -fx-padding: 10 15 10 15;
}

/* Working Dir*/
.working-dir-default {
    -fx-background-color: #EFE6DD;
}

.working-dir-error {
    -fx-background-color: #BB4430;
    -fx-text-fill: white;
}

.working-dir-success {
    -fx-background-color: #7EBDC2;
    -fx-text-fill: white;
}

/* Warning Panel */
.warning-default {
    -fx-background-color: #FFF;
}

.warning-error {
    -fx-background-color: #bb2a1a;
    -fx-text-fill: white;
}

.warning-warning {
    -fx-background-color: #f8ab33;
    -fx-text-fill: black;
}

.warning-success {
    -fx-background-color: #25c250;
    -fx-text-fill: white;
}

/* Scroll-pane */
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

/* Package */
#package-container {
    -fx-background-color: #7EBDC2;
}

.button-raised {
    -fx-padding: 0.5em 0.6em;
    -fx-font-size: 14px;
    -jfx-button-type: FLAT;
    -fx-background-color: rgb(204, 105, 30);
    -fx-pref-width: 200;
    -fx-text-fill: WHITE;
}