<!-- This manifest file exists for 2 reasons:
     1. To make gradle builds work
     2. So that ndk-build will execute without complaining
--><!-- From: file:/Users/subodh/projects/conceal/AndroidManifest.xml --><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.facebook.crypto">

  <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="17"/>

</manifest>
