<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

	<property name="DEV_HOME" value="logs"/>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- By default, encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<encoder>
			<pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{0}.%M\(\)#%line: %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE-AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEV_HOME}/debug.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{10}.%M\(\)#%line: %msg%n
			</pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
			<fileNamePattern>/archived/debug.%d{yyyy-MM-dd}.log</fileNamePattern>

			<!-- keep 30 days' worth of history capped at 10mb total size -->
			<maxHistory>30</maxHistory>
			<totalSizeCap>10MB</totalSizeCap>
		</rollingPolicy>

	</appender>

	<appender name="FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEV_HOME}/error.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>
                %d{yyyy-MM-dd HH:mm:ss} %M\(\)#%line: %msg%n
			</pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
			<fileNamePattern>/archived/error.%d{yyyy-MM-dd}.log</fileNamePattern>

			<!-- keep 30 days' worth of history capped at 10mb total size -->
			<maxHistory>30</maxHistory>
			<totalSizeCap>10MB</totalSizeCap>
		</rollingPolicy>

	</appender>

	<!-- Send logs to both console and file audit -->
	<logger name="uk.ac.ucl.excites.sapelli.packager" level="ALL" additivity="false">
		<appender-ref ref="FILE-AUDIT"/>
		<appender-ref ref="STDOUT"/>
	</logger>

	<root level="ERROR">
		<appender-ref ref="FILE-ERROR"/>
	</root>

</configuration>