<!--
	Sapelli data collection platform: http://sapelli.org
	
	Copyright 2012-2014 University College London - ExCiteS group
	
	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at
	
	    http://www.apache.org/licenses/LICENSE-2.0
	
	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
 --><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="200" android:versionName="2.0.0-SNAPSHOT" package="uk.ac.ucl.excites.sapelli.collector">

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="11"/>

    <!-- For more information on permission: http://developer.android.com/reference/android/Manifest.permission.html -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <!-- <uses-permission android:name="android.permission.BROADCAST_SMS" /> -->
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_GPS"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.front"/>
    <uses-feature android:name="android.hardware.camera.any"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.camera.flash"/>

    <application android:allowBackup="true" android:icon="@drawable/ic_excites_grey" android:label="@string/app_name" android:largeHeap="true" android:name="uk.ac.ucl.excites.sapelli.collector.CollectorApp" android:theme="@style/AppTheme">
        <activity android:icon="@drawable/ic_excites_grey" android:label="@string/app_name" android:launchMode="singleTask" android:name="uk.ac.ucl.excites.sapelli.collector.activities.ProjectManagerActivity" android:theme="@android:style/Theme.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:launchMode="singleInstance" android:name="uk.ac.ucl.excites.sapelli.collector.activities.CollectorActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

            </intent-filter>
        </activity>
        <activity android:exported="true" android:label="@string/title_activity_main" android:name="uk.ac.ucl.excites.sapelli.sender.DataSenderActivity">
        </activity>
        <activity android:icon="@drawable/ic_sender" android:name="uk.ac.ucl.excites.sapelli.sender.DataSenderPreferences">
        </activity>
        <activity android:name="uk.ac.ucl.excites.sapelli.sender.dropbox.DropboxLogin">
        </activity>
        <activity android:name="uk.ac.ucl.excites.sapelli.collector.activities.StatisticsActivity" android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:label="@string/title_activity_dropbox" android:name="uk.ac.ucl.excites.sapelli.sender.dropbox.DropboxAuthentication">
        </activity>
        <activity android:name="com.dropbox.sync.android.DbxAuthActivity"/>
        <activity android:launchMode="singleTask" android:name="com.dropbox.client2.android.AuthActivity">
            <intent-filter>

                <!-- HERE NEEDS THE ACTUAL DROPBOX APP KEY -->
                <data android:scheme="db-5nmqrrg0m50fu7z"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:enabled="true" android:exported="true" android:icon="@drawable/ic_excites_grey" android:label="File Manager" android:name="com.ipaulpro.afilechooser.FileChooserActivity">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.OPENABLE"/>

                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity>
        <!--
        <service
            android:name="uk.ac.ucl.excites.sapelli.sender.DataSenderService"
            android:icon="@drawable/ic_excites_grey"
            android:label="@string/service_name" >
        </service>
        -->

        <service android:enabled="true" android:exported="false" android:label="Dropbox Sync" android:name="com.dropbox.sync.android.DbxSyncService">
        </service>

        <!--
        <receiver
            android:name="uk.ac.ucl.excites.sapelli.sender.BootReceiver"
            android:exported="true" >
            <intent-filter android:priority="9999999999" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        -->
        
        <activity android:label="@string/title_activity_export" android:name="uk.ac.ucl.excites.sapelli.collector.activities.ExportActivity" android:parentActivityName="uk.ac.ucl.excites.sapelli.collector.activities.ProjectManagerActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="uk.ac.ucl.excites.sapelli.collector.activities.ProjectManagerActivity"/>
        </activity>

    <meta-data android:name="com.crashlytics.ApiKey" android:value="d4cd414cf1f34965f9373c71749e234360eaa421"/>
    </application>

</manifest>
