<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.ucl.excites.sapelli.collector"
    android:versionCode="10"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="9" />

    <!-- For more information on permission: http://developer.android.com/reference/android/Manifest.permission.html -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- <uses-permission android:name="android.permission.BROADCAST_SMS" /> -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:name="uk.ac.ucl.excites.sapelli.collector.CollectorApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_excites_grey"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="uk.ac.ucl.excites.sapelli.collector.activities.ProjectManagerActivity"
            android:icon="@drawable/ic_excites_grey"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="uk.ac.ucl.excites.sapelli.collector.activities.CollectorActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="uk.ac.ucl.excites.sapelli.sender.DataSenderActivity"
            android:exported="true"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="uk.ac.ucl.excites.sapelli.sender.DataSenderPreferences"
            android:icon="@drawable/ic_sender" >
        </activity>
        <activity android:name="uk.ac.ucl.excites.sapelli.sender.dropbox.DropboxLogin" >
        </activity>
        <activity
            android:name="uk.ac.ucl.excites.sapelli.collector.activities.StatisticsActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="uk.ac.ucl.excites.sapelli.sender.dropbox.DropboxAuthentication"
            android:label="@string/title_activity_dropbox" >
        </activity>
        <activity android:name="com.dropbox.sync.android.DbxAuthActivity" />
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:launchMode="singleTask" >
            <intent-filter>

                <!-- HERE NEEDS THE ACTUAL DROPBOX APP KEY -->
                <data android:scheme="db-5nmqrrg0m50fu7z" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ipaulpro.afilechooser.FileChooserActivity"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_excites_grey"
            android:label="File Manager" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <!--
        <service
            android:name="uk.ac.ucl.excites.sapelli.sender.DataSenderService"
            android:icon="@drawable/ic_excites_grey"
            android:label="@string/service_name" >
        </service>
        -->

        <service
            android:name="com.dropbox.sync.android.DbxSyncService"
            android:enabled="true"
            android:exported="false"
            android:label="Dropbox Sync" >
        </service>

        <!--
        <receiver
            android:name="uk.ac.ucl.excites.sapelli.sender.BootReceiver"
            android:exported="true" >
            <intent-filter android:priority="9999999999" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        -->
        <activity
            android:name="uk.ac.ucl.excites.sapelli.collector.activities.ExportActivity"
            android:label="@string/title_activity_export"
            android:parentActivityName="uk.ac.ucl.excites.sapelli.collector.activities.ProjectManagerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.ucl.excites.sapelli.collector.activities.ProjectManagerActivity" />
        </activity>
    </application>

</manifest>