<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Sapelli_Server</display-name>
  <context-param>
    <param-name>DB4O_FILENAME</param-name>
    <param-value>Sapelli.db4o</param-value>
  </context-param>
  <listener>
    <listener-class>uk.ac.uk.excites.server.db.Db4oServletListener</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServerDataReceiver</display-name>
    <servlet-name>ServerDataReceiver</servlet-name>
    <servlet-class>uk.ac.uk.excites.server.ServerDataReceiver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerDataReceiver</servlet-name>
    <url-pattern>/ServerDataReceiver</url-pattern>
    <url-pattern>/data_receiver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Class to upload Projects</description>
    <display-name>ProjectUpload</display-name>
    <servlet-name>ProjectUpload</servlet-name>
    <servlet-class>uk.ac.uk.excites.server.ProjectUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectUpload</servlet-name>
    <url-pattern>/ProjectUpload</url-pattern>
    <url-pattern>/project_upload</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>AccessManager</display-name>
    <servlet-name>AccessManager</servlet-name>
    <servlet-class>uk.ac.uk.excites.server.util.AccessManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessManager</servlet-name>
    <url-pattern>/AccessManager</url-pattern>
    <url-pattern>/ExCiteS_Storage/*</url-pattern>
  </servlet-mapping>
</web-app>